<p class='pagination-detail'>Viewing Page <%= paginator.current_page %> of <%= paginator.total_pages %></p>
<ol class='pagination-links'>
	<li class='first'>
		<%= paginator.first? ? "&larr;".html_safe : paginator.link(1, {}, "&larr;") %>
	</li>
	<li class='prev'>
		<%= paginator.first? ? "&laquo; Previous".html_safe : paginator.link(paginator.previous, {}, "&laquo; Previous".html_safe) %>
	</li>
	<% paginator.links.each do |link| %>
	<li<%= link.current? ? " class='current'" : "" %>>
		<%= link.current? ? link.number : paginator.link(link.number) %>
	</li>
	<% end %>
	<li class='next'>
		<%= paginator.last? ? "Next &raquo;".html_safe : paginator.link(paginator.next, {}, "Next &raquo;".html_safe) %>
	</li>
	<li class='last'>
		<%= paginator.last? ? "&rarr;".html_safe : paginator.link(paginator.total_pages, {}, "&rarr;") %>
	</li>
</ol>